.main {
    /* main */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
    height: 100vh;
    background: #FFFFFF;
}

.form {
    /* form */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 14px;

    width: 15vw;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo {
    /* IIS logo */
    width: 220px;
    height: 88px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.title {
    /* Secondary */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.04em;

    margin: 0;

    /* text-primary-2 */
    color: #2F6DA7;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.input_box {
    /* input_box */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 2px;

    width: 15vw;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.input {
    /* input */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    /* Additional */

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height */
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;

    /* text-secondary */
    color: #7D7D7D;

    /* back */
    background: #FFFFFF;

    /* text-additional-2 */
    border: 2px solid #BFBFBF;
    border-radius: 5px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.label {
    /* Additional */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height */
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;

    /* text-primary */
    color: #555555;
}

.button {
    /* button */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;

    /* additional */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    /* identical to box height */
    letter-spacing: -0.04em;

    /* text-additional */
    color: #FFFFFF;

    /* primary */
    background: #478BCA;

    /* border-primary */
    border: 2px solid #478BCA;
    border-radius: 5px;

    /* Inside auto layout */
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}

.link {
    /* additional */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    /* identical to box height */
    letter-spacing: -0.04em;

    /* text-primary-2 */
    color: #2F6DA7;

    /* Inside auto layout */
    flex: none;
    order: 5;
    flex-grow: 0;
}

/*

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

html, body {
    height: 100%;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

header {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 8%;
}

.containerHeader {
    width: 67%;
    margin-top: 9%;
    margin-left: auto;
    margin-right: auto;
}

.formSignin-reg {
    width: 100%;
    max-width: 340px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 599px) {
    .formSignin-reg {
        max-width: 320px;
    }
    .logoMenu {
        width: 70%;
        height: 70%;
    }
}

@media  (max-width: 559px) {
    .containerHeader {
        width: 100%;
        margin-top: 0;
    }
    header {
        margin-bottom: 22%;
    }
}

@media (max-width: 414px) {
    .formSignin-reg {
        max-width: 300px;
    }
}

@media (max-width: 355px) {
    .formSignin-reg {
        max-width: 270px;
    }
    .btn {
        max-width: 100px;
    }
}

@media (max-width: 314px) {
    .formSignin-reg {
        max-width: 250px;
    }
    .btn {
        max-width: 90px;
    }
    .btn, .link {
        font-size: 12px;
    }
}

@media (max-width: 280px) {
    .formSignin-reg {
        max-width: 230px;
    }
}

form .reg {
     text-align: center;
}

.check_align {
    text-align: left;
}

.logoMenu {
    margin-bottom: 10px;
}

.title {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #4A83B8;

    margin: 0 0 20px 0;
}

.formFloating-reg {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;
    color: #8E8E8E;
    margin-bottom: 15px;
}

input[class="formControl-reg"] {
    background: #EAEAEA;
    border-radius: 10px;
    width: 100%;
    border: none;
    color: #151515;
}

input .reg{
    padding: 12px 26px;
    border: none;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
}

.formControl reg {
    background: #EAEAEA;
    border-radius: 10px;
}

.btn {
    box-sizing: content-box;
    max-width: 150px;
    padding: 12px 17px;
    background: #4A83B8;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    margin-bottom: 23px;
}

.btn:hover {
    background: #4173a1;
    color: rgba(255, 255, 255, 0.91);
}

.btn:active {
    background: #386895;
}

.link {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #4A83B8;
    display: flex;
    justify-content: center;
}

.link:hover {
    text-decoration: underline;
}

.link:active {
    color: #386895;
    text-decoration: none;
}

.formCheck {
    width: 100%;
    text-align: start;
    padding-left: 20px;
    margin-bottom: 10px;
}

.formCheckLabel {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;
    color: #8E8E8E;
}

input[type="checkbox"] {
    background: #C9C9C9;
    border: none;
}

 */