.main {
    /* main */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 40px;

    height: 100vh;

    /* back-secondary */
    background: #EFF1F3;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.title {
    /* title */
    /* Firstly */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;

    margin: 0;

    /* identical to box height */
    letter-spacing: -0.04em;

    /* text-header */
    color: #777777;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.form {
    /* form */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 14px;

    width: 25vw;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.input_box {
    /* input_box */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 2px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.input {
    /* input */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    /* Additional */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height */
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;

    /* text-secondary */
    color: #7D7D7D;

    /* back */
    background: #FFFFFF;

    /* text-additional-2 */
    border: 2px solid #BFBFBF;
    border-radius: 5px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.text_area {
    /* text_area */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;

    height: 200px;

    /* Additional */

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height */
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;

    /* text-secondary */
    color: #7D7D7D;


    /* back */
    background: #FFFFFF;

    /* text-additional-2 */
    border: 2px solid #BFBFBF;
    border-radius: 5px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.label {
    /* Additional */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height */
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;

    /* text-primary */
    color: #555555;
}

.buttons {
    /* buttons */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 20px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.button_save {
    /* button_save */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;

    height: 32px;

    /* additional */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    /* identical to box height */
    letter-spacing: -0.04em;

    /* text-additional */
    color: #FFFFFF;

    /* primary */
    background: #478BCA;

    /* border-primary */
    border: 2px solid #478BCA;
    border-radius: 5px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
}

/*
*,
*:before,
*:after {
    box-sizing: border-box;
}


.formSignin {
    width: 100%;
    max-width: 368px;
    margin: auto;
    text-align: left;
}

label {
    text-align: left;
}

input, select, textarea {
}

.formFloating,
select,
textarea {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;
    color: #8E8E8E;
    background: #EAEAEA;
    border-radius: 10px;
    margin-bottom: 16px;
    border: none;
}

input {
    width: 100%;
    border-radius: 15px;
    border: none;
    background: #EAEAEA;
}



.formSelect {
    width: 100%;
}

textarea {
    width: 100%;
    min-height: 150px;
    margin-bottom: 0;
}

.formFloating:last-child {
    margin-bottom: 18px;
}

.btnn {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    width: 100vw;
    color: #fff;
    border-radius: 10px;
    border: none;
    margin-top: 23px;
    margin-bottom: 23px;
    background: #4A83B8;
}

 */