.card {
    margin-top: 10%;
    width: 45%;
    height: 70%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    /*overflow-y: auto;*/
}

.cardImg{
    border-radius: 16px;
    width: 100%;
}

.cardBody h1{
    display: flex;
}

.header{
    display: flex;
    justify-content: center;
}

.text{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    margin-right: 30px;
}