body {
    min-width: 1000px;
    font-family: 'Open Sans', Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.bordered {
    width: 18rem;
    border: 1px solid #010101;
    border-radius: 10px;
    padding: 1rem;
}

input {
    width: 10rem;
    height: 2rem;
    margin: 1rem;
}