@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body .landing{
    margin: 0 auto;
    margin-top: 0;
    background-color: var(--mainGrey);
    font-family: 'Open Sans', sans-serif;
}
/*
:root{
    --mainGrey: #F5F5F5;;
    --white: white;
    --h2: #CF5B36;
    --titleText: #CACACA;
    --footer: #26272C;
}*/

.container{
    max-width: 1440px;
    margin: auto;
}

header{
    background-image: url("/src/components/styles/design/images/head.png");
    background-size: cover;
}
.headerInner{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
}

.naviLink-landing {
    color: white;
    padding: 10px;
}

.headTitle{
    padding-top: 0px;
    padding-left: 100px;
}

.titleHead{
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 70px;
    line-height: 95px;
    letter-spacing: 0.01em;
}

.titleText{
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.01em;

    color: var(--titleText);
}


.flexContainer-land {
    padding: 20px;
    text-align: right;
}

.headText{
    padding-bottom: 100px;
    padding-left: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.01em;
    width: 50%;
}

.iisText{
    text-align: center;
    margin-top: -50px;
    margin-bottom: 100px;
    /*font-size: bold;*/
}

h2 .land {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.03em;
    color: var(--h2);
    margin-bottom: 100px;
}

h3 .land {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #000000;
    margin: 0;
}

.doing{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

.doingItem{
    display: flex;
    align-items: center;
    margin-bottom: 75px;
}

.doingItemText{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    letter-spacing: 0.03em;
    color: #000000;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 30px 30px 30px;
    min-height: 400px;
    margin-right: 10px;
}

.doingItemTextInner{
    padding: 50px 30px 50px 30px;
}

.doingItemText2{
    border-radius: 30px 30px 30px 30px;
    margin-right: 0px;
    margin-left: 10px;
}

.doingItemImg img{
    max-width: 430px;
}

.partners{
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.partnersItem{
    display: flex;
    justify-content: center;
}

.partnersItem img{
    max-width: 100%;
}

footer{
    background-color: var(--footer);
    color: var(--white);
    display: flex;
    text-align: center;
}

.footerData{
    margin-top: 50px;
}

@media (max-width: 1480px) {
    .container{
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container{
        max-width: 1000px;
    }

    .doingItemText{
        font-size: 20px;
    }

    .doingItemTextInner{
        min-height: 300px;
    }
    .doingItemImg img{
        min-height: 300px;
    }
}


@media (max-width: 1000px) {
    .container{
        max-width: 768px;
    }

    .titleHead{
        font-size: 64px;
    }

    .titleText{
        font-size: 60px;
    }

    .headText{
        font-size: 36px;
        width: 500px;
    }


    .doingItemText{
        font-size: 20px;
    }

    /* .doingItem{
        flex-direction: column-reverse;
    } */
    .doingItemImg img{
        width: 80vw;
    }

    h2{
        text-align: center;
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 640px;
    }

    .titleHead{
        font-size: 60px;
    }

    .titleText{
        font-size: 54px;
    }

    .headText{
        font-size: 30px;
        width: 500px;

    }





    .doingItemText{
        font-size: 20px;
    }

    .doingItem img{
        display: none;
    }
    .doingItemImg img{
        width: 80vw;
    }

    h2{
        text-align: center;
    }
}

@media (max-width: 640px) {
    .container{
        max-width: 480px;
    }

    .headTitle{
        padding-left: 24px;
    }
    .titleHead{
        font-size: 34px;
    }

    .titleText{
        font-size: 30px;
    }

    .headText{
        font-size: 20px;
        width: 280px;
        padding-left: 20px;
    }

    .iisText{
        display: none;
    }

    .doingItemText{
        font-size: 20px;
    }

    h2{
        text-align: center;
    }
}

@media (max-width: 480px) {
    .container{
        max-width: 320px;
    }

    .headTitle{
        padding-left: 20px;
    }
    .titleHead{
        font-size: 30px;
    }

    .titleText{
        font-size: 24px;
    }

    .headText{
        font-size: 20px;
        width: 280px;
        padding-left: 20px;
    }

    .iisText{
        display: none;
    }

    .doingItemText{
        font-size: 20px;
    }

    /* .doingItem{
        flex-direction: column-reverse;
    } */
    .doingItemImg img{
        width: 80vw;
    }

    h2{
        text-align: center;
        font-size: 30px;
    }

    .headerInner{
        justify-content: space-evenly;
    }
}