body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

html, body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

header {
    /*align-self: flex-start;*/
    width: 100%;
    margin-bottom: 8%;
}

.containerHeader {
    width: 67%;
    margin-top: 9%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.formSignin-login {
    width: 100vw;
    max-width: 340px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 599px) {
    .formSignin-login {
        max-width: 320px;
    }
    .logoMenu {
        width: 70%;
        height: 70%;
    }
}

@media  (max-width: 559px) {
    .containerHeader {
        width: 100%;
        margin-top: 0;
    }
    header {
        margin-bottom: 22%;
    }
}

@media (max-width: 414px) {
    .formSignin-login {
        max-width: 300px;
    }
}

@media (max-width: 355px) {
    .formSignin-login {
        max-width: 270px;
    }
    .btn {
        max-width: 100px;
    }
}

@media (max-width: 314px) {
    .formSignin-login {
        max-width: 250px;
    }
    .btn {
        max-width: 90px;
    }
    .btn, .link {
        font-size: 12px;
    }
}

@media (max-width: 280px) {
    .formSignin-login {
        max-width: 230px;
    }
}

form .login {
    margin-top: 20vh;
    text-align: center;
}

.logoMenu {
    margin-bottom: 10px;
}

.title {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #4A83B8;

    margin: 0 0 20px 0;
}

.formFloating {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;
    color: #0c0c0c;
    padding: 12px 26px;
    margin-bottom: 10px;
}

input {
    padding: 12px 26px;
    border: none;
}

input:focus {
    outline: none;
}

input[class="formControl-login"] {
    background: #EAEAEA;
    border-radius: 10px;
    width: 100%;
    border: none;
    color: #0c0c0c;
    padding: 0px;
    margin-bottom: 0px;
}

input[type="password"] {
    margin-bottom: 0px;
}

.formControl {
    background: #EAEAEA;
    border-radius: 10px;
}

.btn {
    box-sizing: content-box;
    width: 150px;
    padding: 12px 17px;
    background: #4A83B8;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

.btn:hover {
    background: #4173a1;
    color: rgba(255, 255, 255, 0.91);
}

.btn:active {
    background: #386895;
}

.linkReg {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #4A83B8;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.linkReg:hover {
    text-decoration: underline;
}

.linkReg:active {
    color: #296194;
    text-decoration: none;
}