/*

.formSignin {
    width: 100%;
    max-width: 368px;
    margin: auto;
    text-align: center;
}

select, .formCheck {
    padding: 12px 26px;
}

.formFloating,
select {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;
    color: #8E8E8E;
    background: #EAEAEA;
    border-radius: 10px;
    margin-bottom: 16px;
    border: none;
}

.formSelect {
    width: 100%;
}

.formFloating:last-child {
    margin-bottom: 18px;
}

.formControl {
    background: #EAEAEA;
    border-radius: 10px;
    padding: 12px 26px;
}

.formCheck {
    width: 100%;
    text-align: start;
    padding-left: 20px;
    margin-bottom: 16px;
}

.formCheckLabel {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;
    color: #8E8E8E;
}

.listBtn {
    display: flex;
    gap: 20px;
}

.btnn {
    box-sizing: content-box;
    width: 50%;
    padding: 12px 17px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    border-radius: 10px;
    border: none;
    margin-top: 23px;
    margin-bottom: 23px;
}

.btnBack {
    background: #9F9F9F;
}

.btnSave {
    background: #4A83B8;
}

.btnBack:hover {
    background: #8d8d8d;
}

.btnBack:active {
    background: #696969;
}

.btnSave:hover {
    background: #4173a1;
    color: rgba(255, 255, 255, 0.91);
}

.btnSave:active {
    background: #386895;
}

 */