body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

html, body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

header {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 8%;
}

.containerHeader {
    width: 67%;
    margin-top: 9%;
    margin-left: auto;
    margin-right: auto;
}

.formSignin-reg {
    width: 100%;
    max-width: 340px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 599px) {
    .formSignin-reg {
        max-width: 320px;
    }
    .logoMenu {
        width: 70%;
        height: 70%;
    }
}

@media  (max-width: 559px) {
    .containerHeader {
        width: 100%;
        margin-top: 0;
    }
    header {
        margin-bottom: 22%;
    }
}

@media (max-width: 414px) {
    .formSignin-reg {
        max-width: 300px;
    }
}

@media (max-width: 355px) {
    .formSignin-reg {
        max-width: 270px;
    }
    .btn {
        max-width: 100px;
    }
}

@media (max-width: 314px) {
    .formSignin-reg {
        max-width: 250px;
    }
    .btn {
        max-width: 90px;
    }
    .btn, .link {
        font-size: 12px;
    }
}

@media (max-width: 280px) {
    .formSignin-reg {
        max-width: 230px;
    }
}

form .reg {
     text-align: center;
}

.check_align {
    text-align: left;
}

.logoMenu {
    margin-bottom: 10px;
}

.title {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #4A83B8;

    margin: 0 0 20px 0;
}

.formFloating-reg {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;
    color: #8E8E8E;
    margin-bottom: 15px;
}

input[class="formControl-reg"] {
    background: #EAEAEA;
    border-radius: 10px;
    width: 100%;
    border: none;
    color: #151515;
}

input .reg{
    padding: 12px 26px;
    border: none;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
}

.formControl reg {
    background: #EAEAEA;
    border-radius: 10px;
}

.btn {
    box-sizing: content-box;
    max-width: 150px;
    padding: 12px 17px;
    background: #4A83B8;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    margin-bottom: 23px;
}

.btn:hover {
    background: #4173a1;
    color: rgba(255, 255, 255, 0.91);
}

.btn:active {
    background: #386895;
}

.link {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #4A83B8;
    display: flex;
    justify-content: center;
}

.link:hover {
    text-decoration: underline;
}

.link:active {
    color: #386895;
    text-decoration: none;
}

.formCheck {
    width: 100%;
    text-align: start;
    padding-left: 20px;
    margin-bottom: 10px;
}

.formCheckLabel {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;
    color: #8E8E8E;
}

input[type="checkbox"] {
    background: #C9C9C9;
    border: none;
}