/*
*,
*:before,
*:after {
    box-sizing: border-box;
}

.formSignin {
    width: 100%;
    max-width: 368px;
    margin: auto;
    text-align: center;
}

input, select, textarea {
}

.formFloating,
select,
textarea {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;
    color: #8E8E8E;
    background: #EAEAEA;
    border-radius: 10px;
    margin-bottom: 16px;
    border: none;
}

input {
    width: 100%;
    border-radius: 15px;
    border: none;
    background: #EAEAEA;
}

.formSelect {
    width: 100%;
}

textarea {
    width: 100%;
    min-height: 150px;
    margin-bottom: 0;
}

.formFloating:last-child {
    margin-bottom: 18px;
}

.btnn {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    padding: 12px 17px;
    color: #fff;
    border-radius: 10px;
    border: none;
    margin-top: 23px;
    margin-bottom: 23px;
    background: #4A83B8;
}

 */