/*

body {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    background: #2E5376;
    margin-bottom: 100px;
}

.containerTop {
    width: 100%;
    margin: 0 auto;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("src/img/filter.svg");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.nav {
    padding: 10px 4%;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    gap: 1.2rem;
}

.flexContainer {
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.flexContainer:last-child {
    justify-content: flex-end;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.logo-IIS {
    max-width: 177px;
    margin-left: auto;
    margin-right: auto;
}

.containerMenu {
    max-width: 100%;
    margin: 0 auto;
}

.searchBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.iconSetting {
    width: 30px;
    height: 29px;
    margin-right: 18px;
}

.searchUser {
    width: 700px;
}

input {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;
    color: #959595;
    border: 2px solid #ACACAC;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 19px;
    width: 100%;
}

.usersList {
    display: table;
    width: 100vw;
    border: 2px solid #ACACAC;
    border-radius: 10px;
    padding: 15px 30px;
    margin-bottom: 50px;
}

.usersListRow {
    display: table-row;
    text-decoration: none;
}

table {
    width: 100%;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #848484;
}

td {
    padding: 15px 10px;
}

table .username {
    color: #2E5376;
}

.table {
    width: 1000px;
}

h2 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #666666;
    margin: 0;
    margin-bottom: 4px;
}

p {
    margin: 0;
}

 */