

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    margin-bottom: 40px;
}

.containerTop {
    width: 100%;
    margin: 0 auto;
}

.navbar-dark .navbar-toggler-icon {
   /* background-image: url("/img/filter.svg");*/
    /*display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;*/
}

.nav {
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLink {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: -0.04em;

    color: #666666;
}

.logoIIS {
    max-width: 177px;
}

.containerMenu {
    max-width: 64%;
    margin: 0 auto;
}

.projectsPanel {
    text-align: center;
}

.project {
    border: 2px solid #959595;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    text-align: start;
}
/*
.project:after {
  content: "";
  clear: both;
  display: table;
}*/

h2 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #666666;
    margin: 0;
    margin-bottom: 4px;
}

h3 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.04em;
    color: #808080;
}

p {
    margin: 0;
}

.description {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.04em;
    color: #959595;
    margin-bottom: 50px;
}

.fullDesc {
    display: flex;
    justify-content: center;

    margin-bottom: 40px;
}

.fullDescTitle {
    text-align: center;
}

.descCard:first-child {
    margin-right: 66px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;
    color: #808080;
    margin-bottom: 20px;
}

.asdf {
    counter-reset: li;
}

.iconList li::before {
    display: block;
    flex-shrink: 0;
    width: 1.5em;
    height: 1.5em;
    margin-right: .5rem;
    content: "";
    /*background: url("../../../img/Component 1.png") no-repeat;*/
}
.contacts {
    text-align: center;
    max-width: 249px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 59px;
}

.footerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills span {
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;

    padding: 5px 17px;
    margin-right: 10px;
}

.manCount {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.04em;
    color: #666666;
    border: 1px solid #666666;
    border-radius: 10px;
    padding: 6px 16px;
}

.PostreSQL {
    background: #45ADCE;
    border-radius: 5px;
}

.Python {
    background: #23DF58;
    border-radius: 5px;
}

.AutodeskMaya2020 {
    background: #FF7B31;
    border-radius: 5px;
}

.Assembly {
    background: #3CDF7E;
    border-radius: 5px;
}

.C\+\+ {
    background: #23DF58;
    border-radius: 5px;
}

.btnn {
    box-sizing: content-box;
    width: 174px;
    padding: 12px 17px;
    background: #4A83B8;
    color: #fff;
    border-radius: 10px;
    border: none;
    margin-top: 23px;
    margin-bottom: 23px;

    display: none;
}

.OKAY {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #4A83B8;
    display: flex;
    justify-content: center;

    display: none;
}