.project {
    /* project */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;

    /*width: 50vw;*/
    /*height: 200px;*/

    /* back */
    background: #FFFFFF;

    /* border-secondary */
    border: 2px solid #7B7B7B;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.name {
    /* name */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;

    /* Secondary */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.04em;

    /* text-primary */
    color: #555555;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.description {
    /* description */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    margin: 10px 0;

    /* Description */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.04em;

    /* text-secondary */
    color: #7D7D7D;

    /* back */
    background: #FFFFFF;
    box-shadow: inset 0 -36px 25px -15px #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.parameters {
    /* parameters */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.skills {
    /* skills */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.skill_box {
    /* skill_box */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;

    /* additional */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    /* identical to box height */
    letter-spacing: -0.04em;

    /* text-additional */
    color: #FFFFFF;

    /* primary */
    background: #478BCA;
    border-radius: 5px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.counter {
    /* counter */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;

    /* back */
    background: #FFFFFF;

    /* border-secondary */
    border: 2px solid #7B7B7B;
    border-radius: 5px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.counter_text {
    /* additional */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin: 0;

    /* identical to box height */
    letter-spacing: -0.04em;

    /* text-secondary */
    color: #7D7D7D;
}

.details {
    /* details */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.request_reward {
    /* request-reward */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 10px;
    gap: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.reward {
    /* reward */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.request {
    /* request */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
}

.title {
    /* title */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;

    /* section-header */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    color: #000000;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.section {
    /* section */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 10px;

    /* Additional */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;

    /* text-primary */
    color: #555555;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.icon {
    /* icon */
    width: 32px;
    height: 32px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.tutor_info {
    /* tutor-info */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 20px 0;
    gap: 10px;

    /* Additional */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.04em;
    font-feature-settings: 'kern' off;

    /* text-primary */
    color: #555555;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.p {
    margin: 0;
}

.button {
    /* button */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: transparent;

    /* border-primary */
    border: 2px solid #2F6DA7;
    border-radius: 5px;

    /* additional */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    /* identical to box height */
    letter-spacing: -0.04em;

    /* text-primary-2 */
    color: #2F6DA7;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/*

.project {
    border: 2px solid #959595;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 24px;
}

h2 .projectCase {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #666666;
    margin: 0;
    margin-bottom: 4px;
}

p {
    margin: 0;
}

.description {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.04em;
    color: #959595;
    margin-bottom: 59px;
}

.footerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills span {
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;

    padding: 5px 17px;
    margin-right: 10px;
}

.manCount {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.04em;
    color: #666666;
    border: 1px solid #666666;
    border-radius: 10px;
    padding: 6px 16px;
}

.skillCase {
    background: #4A83B8;
    border-radius: 5px;
}

.PostreSQL {
    background: #45ADCE;
    border-radius: 5px;
}

.Python {
    background: #23DF58;
    border-radius: 5px;
}

.AutodeskMaya2020 {
    background: #FF7B31;
    border-radius: 5px;
}

.Assembly {
    background: #3CDF7E;
    border-radius: 5px;
}

.C\+\+ {
    background: #23DF58;
    border-radius: 5px;
}
 */

