.project {
    border: 2px solid #959595;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 24px;
}

h2 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #666666;
    margin: 0;
    margin-bottom: 4px;
}

p {
    margin: 0;
}

.description {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.04em;
    color: #959595;
    margin-bottom: 59px;
}

.footerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills span {
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;

    padding: 5px 17px;
    margin-right: 10px;
}

.manCount {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.04em;
    color: #666666;
    border: 1px solid #666666;
    border-radius: 10px;
    padding: 6px 16px;
}

.skillCase {
    background: #4A83B8;
    border-radius: 5px;
}

.PostreSQL {
    background: #45ADCE;
    border-radius: 5px;
}

.Python {
    background: #23DF58;
    border-radius: 5px;
}

.AutodeskMaya2020 {
    background: #FF7B31;
    border-radius: 5px;
}

.Assembly {
    background: #3CDF7E;
    border-radius: 5px;
}

.C\+\+ {
    background: #23DF58;
    border-radius: 5px;
}