
*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}



.containerTop {
    width: 100%;
    margin: 0 auto;

}

.navbarDark .navbarTogglerIcon {
    /*background-image: url("../../../img/urfu.jpg");*/
    /*display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;*/

}

.nav {
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navLink {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: -0.04em;

    color: #666666;
}

.mainMenu {}

.logoIIS {
    max-width: 177px;
}

.containerMenu {
    max-width: 64%;
    margin: 0 auto;
}


