body {
    min-width: 1000px;
    font-family: 'Open Sans', Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    background-color: #010101;
}

html {
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 67%;
    margin: 0 auto;
    padding: 0 10px;
}

.container:after {
    display: table;
    clear: both;
    content: "";
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.main-title {
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 73.96%, #000000 100%);
    background: url('img/boy_pic_original.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    border-top: 1px solid transparent;
}

.menu-top {
    margin-top: 5.3rem;
    position: relative;
}

.burger-menu {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}

.burger-menu .icon {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    vertical-align: middle;
    background-image: url("img/burger-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: transparent;
}

.title {
    position: absolute;
    top: 0;
    left: 50vh;
}

.title h2 {
    font-style: italic;
    font-weight: 800;
    font-size: 32px;
    letter-spacing: -0.065em;
    margin-bottom: 0;
    margin-top: 0;
}

.title p {
    font-style: italic;
    font-weight: 300;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: -0.04em;
}

.promo {
    float: right;
    width: 530px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.04em;
    margin-top: 19em;
    margin-bottom: 80px;
}

.information {
    height: 100vh;
    background-color: #010101;
    color: #fff;
    border: 1px solid transparent;
}

.scroll {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /*height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);*/
}

.scroll .left {
    width: 79px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(23.5deg);
    margin-right: -6px;
}

.scroll .right {
    width: 79px;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    /*transform: matrix(-0.92, 0.4, 0.4, 0.92, 0, 0);*/
    transform: rotate(-23.5deg);
}

.directions,
.card {
    flex: 0 auto;
    flex-direction: row;
    align-self: flex-start;
}

.directions {
    max-width: 440px;
    margin-top: 5.3rem;
    margin-left: 85px;
}

.directions h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 49px;
    letter-spacing: -0.04em;
    margin-top: 0;
}

.activity {
    margin-bottom: 320px;
}

.activity li {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.04em;
    white-space: nowrap;
    margin-bottom: 10px;
}

.btn a {
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    padding: 10px 25px;
}

.btn {
    text-align: center;
}

.btn a:hover {
    color: #ffffffb5;
    border-color: #ffffffb5;
}

.btn a:active {
    color: #3d40afc7;
    border-color: #3d40afc7;
}

.card {
    width: 610px;
    height: 400px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    /*overflow-y: auto;*/
}

.partners {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 155px;
    background-color: #fff;

}

.partners .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 155px;

    /*border: 1px solid red;*/
}

.partners .container img {
    max-height: 83px;
    margin-right: 8px;
}

.partners .container img:last-child {
    margin-right: 0;
}

.footer {
    background-color: #010101;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.04em;
}

.footer p:hover {
    color: #ffffffb5;
    border-color: #ffffffb5;
}

.footer p:active {
    color: #3d40afc7;
    border-color: #3d40afc7;
}
