/* header .naviHead {
    margin: 150px 0 0 0;
    padding: 0;
    width: 100%;
    min-width: 1000px;
}

.navi {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    padding: 10px 5%;
    flex: 1 0 auto;
    align-items: center;
    gap: 1.5rem;
    background-color: white;
    z-index: 1;
}

.flexContainer {
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.flexContainer:last-child {
    justify-content: flex-end;
}

.naviLink {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: -0.04em;
    color: #666666;
}

.containerTop {
    width: 100%;
    margin: 0 auto;
}

.logo-IIS {
    max-width: 177px;
    margin-left: auto;
    margin-right: auto;
}*/

.nav {
    /* header */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    gap: 10px;

    position: relative;
    width: 100vw;
    height: 100px;

    /* back */
    background: #FFFFFF;
}

.flex-container-left{
    /* left */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 34px;
    isolation: isolate;

    width: 100px;
    height: 100px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.flex-container-center {
    /* center */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;

    width: 179px;
    height: 100px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.flex-container-right {
    /* right */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 34px;
    isolation: isolate;

    width: 620.5px;
    height: 100px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 1;
}