.burger-menu {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}

.burger-menu .icon {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    vertical-align: middle;
    background-image: url("../../../img/burger-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: transparent;
}

.menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 136px;
    left: 50px;
    opacity: 0;
    
}

.menu .active{
    opacity: 1;
}

.menuContext{
    position: fixed;
    width: 35vw;
    height: 100vh;
    top: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

.menuHeader{
    padding: 10px;
    font-size: 2rem;
    color: white;
    border-bottom: 1px solid white;
    width: 100px;
    text-align: center;

}

.icons{
    margin-left: 10px;
}

ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

ul{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 20px;

}

ul{
    text-align: center;
}

@media screen and (max-width:768px) {
    .menuContext{
        width: 100%;
    }
}