.partners {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 155px;
    background-color: #fff;
    padding: 20px;

}

.partners .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 155px;

    /*border: 1px solid red;*/
}

.partners .container img {
    max-height: 83px;
    margin-right: 8px;
}

.partners .container img:last-child {
    margin-right: 0;
}
